<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   <add key="FaysDB" value="sfZAVLIBHZZhyzX26zybrQ==" />
    <add key="LogoDB" value="oE0gCesRxyPJzymtMHCtkA==" />
    <add key="LogoMasterDB" value="oE0gCesRxyPJzymtMHCtkA==" />
    <add key="ServerName" value="zUbcGw+A3GrgnNSCfJLjbnhHMidSrc9LjcfA/DSncq0=" />
    <add key="SqlUserName" value="EavMx1Kq2VBIbqHY4uD4eA==" />
    <add key="SqlPassword" value="yZg51vijTUgeWrlEPWhnRw==" />
    <add key="LogoFirmaNo" value="FSEgUVKnLgEVPjGDjqFSmQ==" />
    <add key="NAME" value="1" />
    <add key="NAME3" value="1" />
    <add key="NAME4" value="1" />
    <add key="SPECODE2" value="1" />
    <add key="SPECODE3" value="1" />
    <add key="SPECODE4" value="1" />
    <add key="SPECODE5" value="1" />
    <add key="PRODUCERCODE" value="0" />
    <add key="STGRPCODE" value="0" />
    <add key="SPECODE" value="0" />
    <add key="FPM" value="0" />
    <add key="OtomatikGuncelleme" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>

</configuration>
